@import "~@fluentui/react/dist/sass/References.scss";

.FeedbackButton {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.FormContainer {
  background-color: #fff;
}

h2 {
  color: #333;
}

p {
  color: #555;
}